<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {# Favicon #}
    <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">

    {# Stylesheets block (can be overridden on child pages) #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}">
    {% endblock %}
    

    {# JavaScripts block (can be overridden on child pages) #}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {# Cart functionality - API version #}
        <script src="{{ asset('assets/js/cart-api.js') }}?v=4"></script>
        <script src="{{ asset('assets/js/global.js') }}"></script>
    {% endblock %}
</head>
<body>
    {# Include header partial (navigation) #}
    {% include 'partials/header.html.twig' %}

    {# Hero/banner block – can be overridden on each page #}
    {% block hero %}{% endblock %}

    {# Main content block for each page #}
    {% block body %}{% endblock %}

    {# Include footer partial #}
    {% include 'partials/footer.html.twig' %}
    
    {# Include cart sidebar #}
    {% include 'partials/cart-sidebar.html.twig' %}
</body>
</html>

